<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel = 'icon' href= '/img/cloud.jpg'>
    <link rel = "stylesheet" href = "./css/styles.css">
</head>

<body>
    <div class= "main-content">
    {{>header}}
    <p>Its a beta version of the app</p>   
    <img class= "portrait"src = "/img/plants.jpg">
    <p>Stay up to date and prepared no matter the weather with our live radar, weather maps and severe weather alerts</p>
    <h2>What’s New</h2>
    <p> Version 1.0 </p>
    <p>
        We’re constantly working to improve your app experience. In this update:</p>
    <p>
        Bug fixes & performance enhancements.
    </p>


    <h2>Information</h2>

    <p>Seller : The Weather Channel</p> 
    <p>Size : 11.7 MB</p>
    <p>Category : Weather Compatibility </p>

    <p>Compatible with ios,Linux, windows.</p>
    <p>Languages : English, Arabic, Catalan, Croatian, Czech, Danish, Dutch, Finnish, French, German, Greek, Hebrew, Hindi, Hungarian, Indonesian, Italian, Japanese, Korean, Malay, Norwegian Bokmål, Polish, Portuguese, Romanian, Russian, Simplified Chinese, Slovak, Spanish, Swedish, Thai, Traditional Chinese, Turkish, Ukrainian, Vietnamese</p>
    <p>Age Rating : 4+</p>
    <p>Location : No location services are used, which increase battery life & your security.</p>
    <p>Price : Free</p> 
    <p>© Copyright 2019, LLC</p>


    </div>

    {{>footer}}
</body>

</html>