<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel = 'icon' href= '/img/cloud.jpg'>
    <link rel = "stylesheet" href = "./css/styles.css">
</head>

<body>
    <div class= "main-content">
    {{>header}}
    <p>Here is all that you need</p>
    <img class= "portrait"src = "/img/help.jpg">
    <p> .</p>
    <p>Visit the website and search for the location.</p>
    <p>Location can be a Place Name/ Zip Code/ Place Code.</p>
    <p>If still facing issue with the location search, try writting complete name eg : Boston, Massachusetts, United States</p>

        <p>Still need help? 
        
        Contact : <u>{{contact}}</u>
    </p>
    </div>
    {{>footer}}
</body>

</html>